# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Saved local dev profiles
saved_profiles

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode
